.body {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.main {
    position: relative;
}

li{
    list-style-type:none;
}
.projects{
    padding: 0;
    margin: 0 auto;
}

.projects-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.projects-title h2 {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #181819;
    margin: 0 30px;
}
.project-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.item {
    padding: 20px 10px;
}
.item:hover img{
    filter: brightness(80%);
}
.item h3{
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #181819;
}
.text {
    max-width: 90%;
    width: 60%;
    margin: 40px auto;

}
.text h2 {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #181819;
    max-width: 100%;
    width: 80%;
    margin: 30px auto;
}
.text h3 {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #181819;
}
.text p {
    text-align: center;
}
.text a {
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    color: #181819;
    text-decoration: none;
    border-bottom: 1px dotted #181819;
}
.text a:hover {
    border-bottom: none;
}
@media (max-width: 600px) {
    .text {
        max-width: 95%;
        width: 90%;
        margin: 20px auto;
    }
    .text h2 {
        font-size: 30px;
        line-height: 38px;
        margin: 20px auto;
        width: 100%;
    }
    .text h3 {
        font-size: 13px;
        line-height: 20px;
        color: #181819;
        width: 100%;
    }
}
@media (max-width: 400px) {
    .projects-title {
        margin: 20px 0;
    }
    .projects-title h2 {
        font-size: 26px;
        line-height: 34px;
        margin: 0 15px;
    }
    .text {
        max-width: 95%;
        width: 90%;
        margin: 20px auto;
    }
    .text h2 {
        font-size: 26px;
        line-height: 34px;
        margin: 15px auto;
        width: 100%;
    }
    .text h3 {
        font-size: 11px;
        line-height: 18px;
        color: #181819;
        width: 100%;
    }
}