.footer {
    height: 28px;
    display: flex;
    padding:30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #24262D;
    
}
.footer .social {
    width: 15%;
}
.footer .logo {
    width: 5%;
}
.footer .social a {
    color: #949597;
}
.footer .social a:hover {
    color: #9094A6;
}
.footer .social svg {
    margin: 0 10px;
}
.footer .logo {
    transform: scale(0.15);
    color: #C9CBD0;
}
.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    color: #C9CBD0;
}
.slogan h3 {
    margin: 0 30px;
    text-align: center;
}
@media (max-width: 701px) {
    .footer {
        padding: 15px;
    }
    .footer .social svg {
        margin: 0 3px;
    }
    .slogan h3 {
        margin: 0 10px;
        font-size: 10px;
    }
    .footer .social {
        width: 20%;
    }
    .logo {
        padding: 0;
    }
    .footer .logo {
        transform: scale(0.1);
        color: #C9CBD0;
    }
}